In [1]:
from __future__ import division
import pandas as pd
import numpy as np
import sqlite3
import mysql.connector
import csv

In [2]:
conn = mysql.connector.connect(user='root', password='password', host='127.0.0.1', port='3306',
                               database='expression_atlas_shotgun')
mycursor = conn.cursor()

# check the connection
if conn.is_connected():
    print("connection succesfull")
else:
    print("no connection")

connection succesfull

In [6]:
uniprot = pd.read_csv('Uniprot.csv', sep=',')

In [7]:
uniprot

      uniprot_id                                        description  length
0         Q8N7X0               Androglobin (Calpain-7-like protein)    1667
1         Q5T1N1                                     Protein AKNAD1     836
2         Q92667  A-kinase anchor protein 1, mitochondrial (A-ki...     903
3         Q5VUY0      Arylacetamide deacetylase-like 3 (EC 3.1.1.-)     407
4         P62736  Actin, aortic smooth muscle (Alpha-actin-2) (C...     377
...          ...                                                ...     ...
20380     Q8N895  Zinc finger protein 366 (Dendritic cell-specif...     744
20381     Q9UK55  Protein Z-dependent protease inhibitor (PZ-dep...     444
20382     Q96MX3   Zinc finger protein 48 (Zinc finger protein 553)     618
20383     A6NGD5  Zinc finger and SCAN domain-containing protein...     496
20384     Q9Y4E5  E3 SUMO-protein ligase ZNF451 (EC 2.3.2.-) (Co...    1061

[20385 rows x 3 columns]

In [8]:
seq = pd.read_csv('Uniprot_sequences.csv', sep=';')
seq[seq['uniprot_id'].duplicated() == True]

      uniprot_id                                           sequence
19432     Q12799                                                NaN
19449     Q15911  MEGCDSPVVSGKDNGCGIPQHQQWTELNSTHLPDKPSSMEQSTGES...
19462     Q4W5N1                                                NaN
19474     Q9BZD3                                                NaN
19911     P0DTE7  MKLFWLLFTIGFCWAQYSSNTQQGRTSIVHLFEWRWVDIALECERY...
19912     P0DTE8  MKLFWLLFTIGFCWAQYSSNTQQGRTSIVHLFEWRWVDIALECERY...
19913     P0DUB6  MKLFWLLFTIGFCWAQYSSNTQQGRTSIVHLFEWRWVDIALECERY...
20029     O43236  MDRSLGWQGNSVPEDRTEAGIKRFLEDTTDDGELSKFVKDFSGNAS...
20175     B9ZVM9                                                NaN
20360     Q5SRD0                                                NaN

In [9]:
uni_seq = pd.merge(uniprot, seq, on='uniprot_id', how='left')
uni_seq = uni_seq.drop_duplicates()

In [10]:
uni_seq

,uniprot_id,description,length,sequence
0,Q8N7X0,Androglobin (Calpain-7-like protein),1667,MASKQTKKKEVHRINSAHGSDKSKDFYPFGSNVQSGSTEQKKGKFP...
1,Q5T1N1,Protein AKNAD1,836,MDEADFSEHTTYKQEDLPYDGDLSQIKIGNDYSFTSKKDGLEVLNQ...
2,Q92667,"A-kinase anchor protein 1, mitochondrial (A-ki...",903,MAIQFRSLFPLALPGMLALLGWWWFFSRKKGHVSSHDEQQVEAGAV...
3,Q5VUY0,Arylacetamide deacetylase-like 3 (EC 3.1.1.-),407,MWDLALIFLAAACVFSLGVTLWVICSHFFTVHIPAAVGHPVKLRVL...
4,P62736,"Actin, aortic smooth muscle (Alpha-actin-2) (C...",377,MCEEEDSTALVCDNGSGLCKAGFAGDDAPRAVFPSIVGRPRHQGVM...
...,...,...,...,...
20389,Q8N895,Zinc finger protein 366 (Dendritic cell-specif...,744,MQKEMKMIKDEDVHFDLAVKKTPSFPHCLQPVASRGKAPQRHPFPE...
20390,Q9UK55,Protein Z-dependent protease inhibitor (PZ-dep...,444,MKVVPSLLLSVLLAQVWLVPGLAPSPQSPETPAPQNQTSRVVQAPK...
20391,Q96MX3,Zinc finger protein 48 (Zinc finger protein 553),618,MERAVEPWGPDLHRPEEREPQRGARTGLGSENVISQPNEFEHTPQE...
20392,A6NGD5,Zinc finger and SCAN domain-containing protein...,496,MAANCTSSWSLGESCNSPGSEPPQSMPSPATQLGNHDSDPETCHVN...
20393,Q9Y4E5,E3 SUMO-protein ligase ZNF451 (EC 2.3.2.-) (Co...,1061,MGDPGSEIIESVPPAGPEASESTTDENEDDIQFVSEGPLRPVLEYI...

In [11]:
mysql = "SELECT DISTINCT(uniprot_id) from protein"
mysqlData = pd.read_sql_query(mysql, conn)
mysqlData.head()

   uniprot_id
0  A0A024RBG1
1  A0A075B6H7
2  A0A075B6H8
3  A0A075B6H9
4  A0A075B6I0

In [12]:
mysqlData['description'] = np.nan
mysqlData['length'] = np.nan
mysqlData['sequence'] = np.nan

In [13]:
mysqlData

       uniprot_id  description  length  sequence
0      A0A024RBG1          NaN     NaN       NaN
1      A0A075B6H7          NaN     NaN       NaN
2      A0A075B6H8          NaN     NaN       NaN
3      A0A075B6H9          NaN     NaN       NaN
4      A0A075B6I0          NaN     NaN       NaN
...           ...          ...     ...       ...
14775  TRY2_BOVIN          NaN     NaN       NaN
14776    TRYP_PIG          NaN     NaN       NaN
14777      U3KPV4          NaN     NaN       NaN
14778  uniprot_id          NaN     NaN       NaN
14779      W5XKT8          NaN     NaN       NaN

[14780 rows x 4 columns]

In [14]:
total_ids = pd.merge(uni_seq, mysqlData,how='right', on='uniprot_id')

In [15]:
total_ids.shape

(14780, 7)

In [16]:
total_ids.head()

,uniprot_id,description_x,length_x,sequence_x,description_y,length_y,sequence_y
0,A0A024RBG1,Diphosphoinositol polyphosphate phosphohydrola...,181.0,MMKFKPNQTRTYDREGFKKRAACLCFRSEQEDEVLLVSSSRYPDQW...,NaN,NaN,NaN
1,A0A075B6H7,Probable non-functional immunoglobulin kappa v...,116.0,MEAPAQLLFLLLLWLPDTTREIVMTQSPPTLSLSPGERVTLSCRAS...,NaN,NaN,NaN
2,A0A075B6H8,Probable non-functional immunoglobulin kappa v...,117.0,MDMRVPAQLLGLLLLWLPGVRFDIQMTQSPSFLSASVGDRVSIICW...,NaN,NaN,NaN
3,A0A075B6H9,Immunoglobulin lambda variable 4-69,119.0,MAWTPLLFLTLLLHCTGSLSQLVLTQSPSASASLGASVKLTCTLSS...,NaN,NaN,NaN
4,A0A075B6I0,Immunoglobulin lambda variable 8-61,122.0,MSVPTMAWMMLLLGLLAYGSGVDSQTVVTQEPSFSVSPGGTVTLTC...,NaN,NaN,NaN

In [17]:
total_ids = total_ids.drop(columns=['description_y', 'length_y', 'sequence_y'])
total_ids = total_ids.rename(columns={'description_x' : 'description', 'length_x' : 'length', 'sequence_x': 'sequence'})

In [13]:
total_ids.to_csv('protein_table_uniprot_updated.csv', sep=',', index=False)

## manually remove the non human proteins ==> or pig trypsin will be identified in the predictor

## remove the current table and replace with the updated table

In [14]:
df = pd.read_csv('protein_table_uniprot_updated.csv', sep=',')
print(df.shape)
df.tail()

(14779, 4)

,uniprot_id,description,length,sequence
14774,TRY1_BOVIN,NaN,NaN,NaN
14775,TRY2_BOVIN,NaN,NaN,NaN
14776,TRYP_PIG,NaN,NaN,NaN
14777,U3KPV4,"Alpha-1,3-galactosyltransferase 2 (EC 2.4.1.87...",340.0,MALKEGLRAWKRIFWRQILLTLGLLGLFLYGLPKFRHLEALIPMGV...
14778,W5XKT8,Sperm acrosome membrane-associated protein 6 (...,324.0,MALLALASAVPSALLALAVFRVPAWACLLCFTTYSERLRICQMFVG...

In [ ]:
uniprot_csv = csv.reader(open('protein_table_uniprot_updated.csv'), delimiter=',')
for row in uniprot_csv:
    uni_insert = "INSERT INTO protein(uniprot_id, description, length, sequence) VALUES(%s, %s, %s, %s)"
    mycursor.execute(uni_insert, row) 
    conn.commit()
print('Done')

In [19]:
# gene ontology
go_csv = csv.reader(open('gene_ontology.csv'), delimiter=',')
for row in go_csv:
    go_csv = "INSERT INTO gene_ontology(go_id, go_term, go_domain) VALUES(%s, %s, %s)"
    mycursor.execute(go_csv, row) 
    conn.commit()
print('Done')

Done

In [16]:
#All proteins in the protein_to_go file should be found in the original protein table. Otherwise, an error will appear
prot_go = pd.read_csv('protein_to_go.csv', sep=',')
proteins = pd.read_csv('protein_table_uniprot_updated.csv', sep=',')
gos = pd.read_csv('gene_ontology.csv', sep=',')
proteins = proteins['uniprot_id'].tolist()
prot_go = prot_go[prot_go['uniprot_id'].isin(proteins)]
prot_go = prot_go[prot_go['go_term'].isin(gos)]

In [17]:
prot_go.to_csv('protein_to_go_updated.csv', sep=',', index=False)

In [18]:
# protein to go
# tissue to protein
prot_go_csv = csv.reader(open('protein_to_go_updated.csv'), delimiter=',')
for row in prot_go_csv:
    disable = "SET FOREIGN_KEY_CHECKS=0"
    mycursor.execute(disable) 
    prot_go_insert = "INSERT INTO protein_to_go(uniprot_id, go_id) VALUES(%s,%s) ON DUPLICATE KEY UPDATE uniprot_id=uniprot_id, go_id=go_id"
    mycursor.execute(prot_go_insert, row) 
    conn.commit()
print('Done')

Done